include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Портфолио
  body
    .wrapper
      .maincontent
        .section-welcome
          section.section.hero
            .container.hero__container
              header.hero__header
                .hero__logo
                  .logo ЕГ

                .hero__menu
                  - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  nav.menu
                    ul.menu__list
                      each item in menu
                        li.menu__item
                          a.menu__link #{item}
                .hero__social
                  - var icons = ["insta", "vk", "github"];
                  ul.social
                    each item in icons
                      li.social__item
                        a.social__link
                          +icon(item, "social__icon")
                          
              h1.hero__title Евгений <br> Гуртовой
                span.hero__desc Личный сайт <br> веб разработчика
              a.hero__buttons
                .hero__scroll Скролл
                +icon('scroll', 'hero__scroll-icon')

          section.about
            .container.about__container
              .about__left
                .user
                  .user__avatar
                    .avatar
                      +image("content/user.jpg", "фото пользователя", "avatar__image")
                  ul.user__desc
                    -
                      var items = [
                        ["Проживаю:", "Владивосток"],
                        ["Возраст:", "26 лет"],
                        ["Родился:", "14 сентября 1993"]
                      ];
                    each item in items
                      li.user__desc-item
                        .user__key #{item[0]}
                        .user__value #{item[1]}
              .about__right
                .about__welcome-text Привет, меня зовут
                h2.about__username Евгений Гуртовой
                .about__desc Я занимаюсь разработкой современных сайтов и приложений. <br> Мне нравится делать интересные и современные проекты.
                .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        section.section.section-skills
          .container
            .section-skills__block
              h2.title.section-skills__title Чем я могу быть полезен вам
              .section-skills__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .section-skills__content
                -
                  var items = [
                    ["Front-end", ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"]],
                    ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
                  ];
                ul.skills-graphic
                  each row in items
                    li.skills-graphic__item
                      .skills-row
                        .skills-row__title #{row[0]}
                        .skills-row__content
                          ul.skills
                            each skill in row[1]
                              li.skills__item
                                .skill
                                  svg(viewBox="0 0 100 100").skill__circle
                                    circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                                    circle(cx="50" cy="50" r="40" stroke="url(#gradient)"
                                    transform="rotate(180 50 50)").skill__circle.skill__circle_over
                                    linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0%")
                                      stop(offset="0%" stop-color="#d0731b")
                                      stop(offset="100%" stop-color="#dc9322")
                                  .skill__title #{skill}
              
        section.section.works
          .container
            h2.title.works__title Мои работы
            .works__content

              .slider
                .slider__display
                  +image('content/slide-1.jpg', 'slider__display-img')
                  .slider__display-thumbs
                    - var images = ["content/slide-1.jpg", "content/slide-2.jpg", "content/slide-3.jpg", "content/slide-4.jpg"];
                    ul.slider-thumbs
                      each item in images
                        li.slider-thumbs__item
                          a.slider-thumbs__link
                            +image(item, 'slider-thumbs__img')
                  .slider__buttons
                    a.direction-btn.direction-btn_next
                      +icon('arrow-down', 'direction-btn__icon')
                    a.direction-btn.direction-btn_prev
                      +icon('arrow-down', 'direction-btn__icon')

                .slider__info
                  .slider__info-namber 1
                  .slider__tags
                    - var tags = ["HTML", "CSS", "Javascript"];
                    ul.tags
                      each item in tags
                        li.tags__item #{item}
                  .slider__info-text
                    h3.title.slider__info-title Сайт школы образования
                    .slider__info-desc Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                  .slider__info-btns
                    a.iconend-link
                      +icon('link', 'iconend-link__icon')
                      .iconend-link__text Посмотреть сайт

        .section-callback

          section.reviews
            .container.reviews__container
              .reviews__header
                h2.title.reviews__title Что обо мне говорят
                .reviews__buttons
                  a.direction-btn.direction-btn_next
                    +icon('arrow-down', 'direction-btn__icon')
                  a.direction-btn.direction-btn_prev
                    +icon('arrow-down', 'direction-btn__icon')

              .reviews__content
                .reviews-slider
                  .reviews-slider__display
                    ul.reviews-slider__list
                      li.reviews-slider__item
                        +icon('quote', 'reviews-slider__icon')
                        .reviews-slider__content
                          .reviews-slider__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                          .reviews-slider__user
                            .reviews-slider__user-img
                              +image('content/user-photo1.jpg', 'reviews-slider__img')
                            .reviews-slider__user-info
                              .reviews-slider__user-name Ковальчук Дмитрий
                              .reviews-slider__user-desc Основатель Loftschool
                      li.reviews-slider__item
                        +icon('quote', 'reviews-slider__icon')
                        .reviews-slider__content
                          .reviews-slider__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                          .reviews-slider__user
                            .reviews-slider__user-img
                              +image('content/user-photo2.jpg', 'reviews-slider__img')
                            .reviews-slider__user-info
                              .reviews-slider__user-name Владимир Сабанцев
                              .reviews-slider__user-desc Преподаватель

          section.contacts
            .container.contacts__container
              h2.title.contacts__title Связаться со мной
              
              form.form(action="#")
                .form__row
                  .form__block
                    +icon('user', 'form__icon')
                    .form__block-title Введите ваше имя
                    input.form__input(
                      type="text" 
                      name="name" 
                      placeholder="Евгений Гуртовой" 
                      required
                    )

                  .form__block
                    +icon('envelope', 'form__icon')
                    .form__block-input
                      .form__block-title Введите ваш email
                      input.form__input(
                        type="email" 
                        name="email" 
                        placeholder="Andlimer@gmail.com" 
                        required
                      )

                .form__row
                  .form__block
                    +icon('message', 'form__icon')
                    .form__block-input
                      .form__block-title Сообщение к письму
                      textarea.form__input.form__input_textarea(
                        name="comment" 
                        placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
                      )

                button.form__button(type="submit") Отправить
                    
      footer.footer
        .container.footer__container
          .footer__copyright © 2019

          .footer__user
            h3.footer__user-title Евгений Гуртовой
            .footer__user-desc Личный сайт <br> веб-разработчика

          .footer__info
            .footer__info-menu
              nav.menu
                ul.menu__list
                  each item in menu
                    li.menu__item
                      a.menu__link #{item}
            .footer__info-wrap
              .footer__info-contacts
                .footer__info-ps Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                ul.social
                  each item in icons
                    li.social__item
                      a.social__link
                        +icon(item, "social__icon")
              .footer__info-text 
                .footer__info-quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__info-author Martin Golding